<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="../../styleDefault.css">
  <title>Gamificação</title>
</head>

<body>
  <div id="page-teacher-form" class="container">
    <header class="page-header">
      <div class="top-bar-container">
        <a href="../index.html">
          <img src="../../images/icons/back.svg" alt="Voltar" />
        </a>
        <h1>FOCUS</h1>
      </div>

    </header>

    <main>
      <form>
        <div id="first">RELATÓRIO DE DISCIPLINAS</div>
        <fieldset>
          <div class="col">
            <div class="codigo">CÓDIGO</div>
            <div class="nome">NOME</div>
            <div class="funcoes">FUNÇÕES</div>
          </div>

          <div class="cols">
            <div class="codigo">1</div>
            <div class="nome">Matematica</div>
            <div class="funcoes">
              <a href="#"><img src="../../images/icons/detail.svg" alt="detail"></a>
              <a href="#"><img src="../../images/icons/edit.svg" alt="edit"></a>
              <a href="#"><img src="../../images/icons/del.svg" alt="delet"></a>
            </div>
          </div>

          <div class="cols">
            <div class="codigo">2</div>
            <div class="nome">Português</div>
            <div class="funcoes">
              <a href="#"><img src="../../images/icons/detail.svg" alt="detail"></a>
              <a href="#"><img src="../../images/icons/edit.svg" alt="edit"></a>
              <a href="#"><img src="../../images/icons/del.svg" alt="delet"></a>
            </div>
          </div>
          <div class="cols">
            <div class="codigo">3</div>
            <div class="nome">História</div>
            <div class="funcoes">
              <a href="#"><img src="../../images/icons/detail.svg" alt="detail"></a>
              <a href="#"><img src="../../images/icons/edit.svg" alt="edit"></a>
              <a href="#"><img src="../../images/icons/del.svg" alt="delet"></a>
            </div>
          </div>



        </fieldset>

        <footer>

        </footer>
      </form>
    </main>

  </div>
</body>

</html>