<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="../../styleDefault.css">
  <title>Gamificação</title>
</head>

<body>
  <div id="page-teacher-form" class="container">
    <header class="page-header">
      <div class="top-bar-container">
        <a href="../../index.html">
          <img src="../../images/icons/back.svg" alt="Voltar" />
        </a>
        <h1>FOCUS</h1>
      </div>
    </header>

    <main>
      <div id="background">
        <div id="titles">
          <div id="btn-atividades">
            <a href="../AbaAtividades/index.html">
              ATIVIDADES
            </a>
          </div>
          <div id="btn-chat">
            <a href="../AbaChat/index.html">
              CHAT
            </a>
          </div>
          <div id="btn-equipe">
            <a href="../AbaConfiguracoes/index.html">
              CONFIGURAÇÕES
            </a>
          </div>
        </div>

        <div id="timeLine">
          <div id="title">
            CONFIGURAÇÕES
          </div>

          
          <div id="line"></div>

          <div id="box-form">
            <div class="box">
              <p>Apelido</p>
              <input type="text" name="Apelido" id="">
            </div>
            
           

            <div class="box">
              <p>Tema</p>
              <div id="theme">
                <a href="#" ><div class="theme selected" id="color-puple"></div></a>
                <div class="theme" id="color-red" onclick="alterTheme(1)"></div>
                <a href="#"><div class="theme" id="color-blue"></div></a>
                <a href="#"><div class="theme" id="color-pink"></div></a>
                <a href="#"><div class="theme" id="color-orange"></div></a>

              </div>
            </div>
          
    

            <div class="box">
              <p>Selecione seu Avatar</p>
              <div id="avatar">
                <a href="#" class="selected"><div class="avatar" ><img src="../../images/avatar1.png" alt=""></div></a>
                <a href="#"><div class="avatar" ><img src="../../images/avatar2.png" alt=""></div></a>
                <a href="#"><div class="avatar" ><img src="../../images/avatar3.png" alt=""></div></a>

                <a href="#"><div class="avatar" ><img src="../../images/avatar4.png" alt=""></div></a>
                <a href="#"><div class="avatar" ><img src="../../images/avatar5.png" alt=""></div></a>
                <a href="#"><div class="avatar" ><img src="../../images/avatar6.png" alt=""></div></a>

                <a href="#"><div class="avatar" ><img src="../../images/avatar7.png" alt=""></div></a>
                <a href="#"><div class="avatar" ><img src="../../images/avatar8.png" alt=""></div></a>
                <a href="#"><div class="avatar" ><img src="../../images/avatar9.png" alt=""></div></a>
            </div>


       

        </div>

      </div>


    </main>

  </div>

  <script src="../../../Model/js/configuration.js"></script>
</body>

</html>