<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="../../styleDefault.css">
  <title>Gamificação</title>
</head>

<body>
  <div id="page-teacher-form" class="container">
    <header class="page-header">
      <div class="top-bar-container">
        <a href="../index.html">
          <img src="../../images/icons/back.svg" alt="Voltar" />
        </a>
        <h1>FOCUS</h1>
      </div>

    </header>

    <main>
      <form>
        <div id="first">RELATÓRIO DE PROFESSORES</div>
        <fieldset>
          <div class="col">
            <div class="codigo">CÓDIGO</div>
            <div class="nome">NOME</div>
            <div class="email">E-MAIL</div>
            <div class="turma">TURMA</div>
            <div class="ra">RA</div>
            <div class="funcoes">FUNÇÕES</div>
          </div>

          <div class="cols">
            <div class="codigo">1</div>
            <div class="nome">Caio Henrique Machado</div>
            <div class="email">caiomachado76@hotmail.com</div>
            <div class="turma">4° ano</div>
            <div class="ra">20129102</div>
            <div class="funcoes">
              <a href="#"><img src="../../images/icons/detail.svg" alt="detail"></a>
              <a href="#"><img src="../../images/icons/edit.svg" alt="edit"></a>
              <a href="#"><img src="../../images/icons/del.svg" alt="delet"></a>
            </div>
          </div>

          <div class="cols">
            <div class="codigo">2</div>
            <div class="nome">Lucas da Silva</div>
            <div class="email">lucasilva@hotmail.com</div>
            <div class="turma">4° ano</div>
            <div class="ra">20128339</div>
            <div class="funcoes">
              <a href="#"><img src="../../images/icons/detail.svg" alt="detail"></a>
              <a href="#"><img src="../../images/icons/edit.svg" alt="edit"></a>
              <a href="#"><img src="../../images/icons/del.svg" alt="delet"></a>
            </div>
          </div>

          <div class="cols">
            <div class="codigo">3</div>
            <div class="nome">Larissa Matos</div>
            <div class="email">larissa@hotmail.com</div>
            <div class="turma">5° ano</div>
            <div class="ra">28932822</div>
            <div class="funcoes">
              <a href="#"><img src="../../images/icons/detail.svg" alt="detail"></a>
              <a href="#"><img src="../../images/icons/edit.svg" alt="edit"></a>
              <a href="#"><img src="../../images/icons/del.svg" alt="delet"></a>
            </div>
          </div>

          <div class="cols">
            <div class="codigo">4</div>
            <div class="nome">Pedro Alves</div>
            <div class="email">pedroalves@hotmail.com</div>
            <div class="turma">1° ano</div>
            <div class="ra">39901832</div>
            <div class="funcoes">
              <a href="#"><img src="../../images/icons/detail.svg" alt="detail"></a>
              <a href="#"><img src="../../images/icons/edit.svg" alt="edit"></a>
              <a href="#"><img src="../../images/icons/del.svg" alt="delet"></a>
            </div>
          </div>

          <div class="cols">
            <div class="codigo">5</div>
            <div class="nome">Augusto Silva</div>
            <div class="email">augusto@hotmail.com</div>
            <div class="turma">2° ano</div>
            <div class="ra">39901832</div>
            <div class="funcoes">
              <a href="#"><img src="../../images/icons/detail.svg" alt="detail"></a>
              <a href="#"><img src="../../images/icons/edit.svg" alt="edit"></a>
              <a href="#"><img src="../../images/icons/del.svg" alt="delet"></a>
            </div>
          </div>

          <div class="cols">
            <div class="codigo">5</div>
            <div class="nome">Bianca Alves</div>
            <div class="email">biancaalves@hotmail.com</div>
            <div class="turma">3° ano</div>
            <div class="ra">93283931</div>
            <div class="funcoes">
              <a href="#"><img src="../../images/icons/detail.svg" alt="detail"></a>
              <a href="#"><img src="../../images/icons/edit.svg" alt="edit"></a>
              <a href="#"><img src="../../images/icons/del.svg" alt="delet"></a>
            </div>
          </div>

          <div class="cols">
            <div class="codigo">6</div>
            <div class="nome">Caio Henrique Machado</div>
            <div class="email">caiomachado76@hotmail.com</div>
            <div class="turma">4° ano</div>
            <div class="ra">20129102</div>
            <div class="funcoes">
              <a href="#"><img src="../../images/icons/detail.svg" alt="detail"></a>
              <a href="#"><img src="../../images/icons/edit.svg" alt="edit"></a>
              <a href="#"><img src="../../images/icons/del.svg" alt="delet"></a>
            </div>
          </div>

          <div class="cols">
            <div class="codigo">7</div>
            <div class="nome">Lucas da Silva</div>
            <div class="email">lucasilva@hotmail.com</div>
            <div class="turma">4° ano</div>
            <div class="ra">20128339</div>
            <div class="funcoes">
              <a href="#"><img src="../../images/icons/detail.svg" alt="detail"></a>
              <a href="#"><img src="../../images/icons/edit.svg" alt="edit"></a>
              <a href="#"><img src="../../images/icons/del.svg" alt="delet"></a>
            </div>
          </div>

          <div class="cols">
            <div class="codigo">8</div>
            <div class="nome">Larissa Matos</div>
            <div class="email">larissa@hotmail.com</div>
            <div class="turma">5° ano</div>
            <div class="ra">28932822</div>
            <div class="funcoes">
              <a href="#"><img src="../../images/icons/detail.svg" alt="detail"></a>
              <a href="#"><img src="../../images/icons/edit.svg" alt="edit"></a>
              <a href="#"><img src="../../images/icons/del.svg" alt="delet"></a>
            </div>
          </div>

          <div class="cols">
            <div class="codigo">9</div>
            <div class="nome">Pedro Alves</div>
            <div class="email">pedroalves@hotmail.com</div>
            <div class="turma">1° ano</div>
            <div class="ra">39901832</div>
            <div class="funcoes">
              <a href="#"><img src="../../images/icons/detail.svg" alt="detail"></a>
              <a href="#"><img src="../../images/icons/edit.svg" alt="edit"></a>
              <a href="#"><img src="../../images/icons/del.svg" alt="delet"></a>
            </div>
          </div>

          <div class="cols">
            <div class="codigo">10</div>
            <div class="nome">Augusto Silva</div>
            <div class="email">augusto@hotmail.com</div>
            <div class="turma">2° ano</div>
            <div class="ra">39901832</div>
            <div class="funcoes">
              <a href="#"><img src="../../images/icons/detail.svg" alt="detail"></a>
              <a href="#"><img src="../../images/icons/edit.svg" alt="edit"></a>
              <a href="#"><img src="../../images/icons/del.svg" alt="delet"></a>
            </div>
          </div>

          <div class="cols">
            <div class="codigo">11</div>
            <div class="nome">Bianca Alves</div>
            <div class="email">biancaalves@hotmail.com</div>
            <div class="turma">3° ano</div>
            <div class="ra">93283931</div>
            <div class="funcoes">
              <a href="#"><img src="../../images/icons/detail.svg" alt="detail"></a>
              <a href="#"><img src="../../images/icons/edit.svg" alt="edit"></a>
              <a href="#"><img src="../../images/icons/del.svg" alt="delet"></a>
            </div>
          </div>

        </fieldset>

        <footer>

        </footer>
      </form>
    </main>

  </div>
</body>

</html>