@import "https://fonts.googleapis.com/css?family=Oswald:300,400,700";*


body {
	background-color: #04bf0420;
}

div.photoAvatar {
  top: 15px;
  left: 220px;
  position: absolute;
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin: 0 10px;
  border: 5px solid white;
}

div.photoAvatar img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
}

div#frase {
  top: 40px;
  left: 320px;
  position: absolute;
  color: white;
  font-size: 18pt;
  font-weight: bold;
  font-family: Poppins;
}

div#abaChat {
  display: none;
}

div#abaConfiguracoes {
  display: none;
}

#page-teacher-list {
  width: 100vw;
  height: 100vh;
}

.page-header {
  display: flex;
  flex-direction: column;
  background-color: #04bf04
}

.page-header h1 {
  color: white;
}

.page-header .top-bar-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-in-primary);
  padding: 1.6rem 0;
}

.page-header .top-bar-container a {
  height: 3.2rem;
  transition: opacity 0.2s;
}

.page-header .top-bar-container > img {
  height: 1.6rem;
}

@media (min-width: 700px) {
  .page-header {
	  height: 100px;
  }

  .page-header .top-bar-container {
	  max-width: 1100px;
  }

  .page-header .header-content {
	  flex: 1;
	  max-width: 740px;
	  margin: 0 auto;
	  padding-bottom: 48px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
  }

  .page-header .header-content strong {
	  max-width: 350px;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------ */
#page-teacher-form {
  width: 100%;
  height: 100vh;
}

#page-teacher-form .page-header .header-content {
  margin-bottom: 6.4rem;
}

#page-teacher-form main {
  background: var(--color-box-base);
  width: 90%;
  height: 530px;
  border-radius: 0.8rem;
  margin: -3.2rem auto 3.2rem;
  padding-top: 4rem;
  overflow: hidden;
}

#page-teacher-form main div#background {
  width: 100%;
  height: 100%;

}

#page-teacher-form main div#background div#titles {
  display: flex;
  width: 100%;
}

#page-teacher-form main div#background div#titles div {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: black;
  font: 700 2rem white;
  padding-top: 5px;
  border-bottom: 2px solid black;
  border-radius: 10px 10px 0px 0px;
  transition: background .2s;
}


#page-teacher-form main div#background div#titles div:hover {
  background: rgba(128, 128, 128, 0.322);
  border-bottom: 4px solid black;
}



#page-teacher-form main div#background div#title {
display: flex;
justify-content: center;
align-items: center;
padding: 15px 0px;
font: 700 3rem white;
}

/* ------------------------------------------------------------------------------------------------------------------------ */
/********************  ABA ATIVIDADES *******************/

div.background{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

div.background div.buttonCreate {
  width: 260px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 100px;
  background-color: var(--color-secundary);
  color: white;
  font-size: 14pt;
  font-weight: bold;
  cursor: pointer;
}

div.background div.buttonCreate:active {
  background-color: violet;
}

div.background div.box {
  display: flex;
  flex-direction: column;
  width: 260px;
  min-height: 350px;
  border-radius: 10px;
  border: 3px solid black;
  background-color: #04bf04;
}

div.background div.box h3 {
  text-align: center;
  margin: 5px 0;
  color: white;
}

div.background div.box div.backWhite{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  height: 100%;
  align-items: center;
}

div.background div.box div.backWhite div.itemTarefa {
  background-color: #04bf0420;
  width: 98%;
  border-radius: 10px;
  margin-top: 5px;
  border: 3px solid black;
  cursor: pointer;

}

div.background div.box div.backWhite div.itemTarefa p:first-child {
  text-align: center;
}

div.background div.box div.backWhite div.itemTarefa p + p {
  padding: 0 10px;
}

/********************  ABA CHAT *******************/

#page-teacher-form main div#background div#timeLine div#line {
  display: flex;
  height: 20px;
  background: #04bf04;
}

#page-teacher-form main div#background div#timeLine div#line div#line_1 {
  width: 30%;
  border: 2px solid black;
}

#page-teacher-form main div#background div#timeLine div#line div#line_2 {
  width: 100%;
  border: 2px solid black;
}

#page-teacher-form main div#background div#timeLine div#back-content {
  display: flex;
  width: 100%;
}

#page-teacher-form main div#background div#timeLine div#back-content div#aside {
  width: 30%;
  height: 350px;
  border: 1px solid black;
}

div#aside div.blocks-chat {
  display: flex;
  text-decoration: none;
  padding: 5px 0;
  border: 1px solid black;
  color: gray;
  transition: 0.3s;
  cursor: pointer;
}

div#aside div.blocks-chat:hover {
  color: black;
  background-color: gray;
}

div#aside div.blocks-chat div.image {
  display: flex;
  width: 60px;
  height: 50px;
  border-radius: 50px;
  margin: 0 10px;
}

div#aside div.blocks-chat div.image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

div#aside div.blocks-chat div.conversas {
  width: 100%;
  height: 100%;

}

div#aside div.blocks-chat div.timer {
  display: flex;
  width: 50px;
  height: 100%;
  margin: 0 5px;
}

div#conteudo {
	position: relative;
}

div#conteudo div.title {
  display: flex;
  padding: 5px;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.398);
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

div#conteudo div.title div {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 15px;
}

div#conteudo div.title div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

div#conteudo p.talk {
  display: flex;
  width: 220px;
  background-color: rgba(128, 128, 128, 0.535);
  padding: 10px;
  margin-left: 15px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  color: black;
}



div#conteudo div.toTalk {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: gray;
  width: 100%;
  height: 40px;
  bottom: 0;
}

div#conteudo div.toTalk input.whiteBar {
  display: flex;
  width: 80%;
  height: 30px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: white;
  outline: 0;
  padding: 0 20px;
  margin: 0 20px;
  color: black;
}

div#conteudo div.toTalk div.buttonEnter {
  width: 30px;
  height: 30px;
}

div#conteudo div.toTalk div.buttonEnter img {
  width: 100%;
  height: 100%;
}

#page-teacher-form main div#background div#timeLine div#back-content div#conteudo {
  width: 100%;
  border: 1px solid black;
}

/********************  ABA CONFIGURAÇÕES *******************/
#page-teacher-form main div#background div#timeLine-config {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#page-teacher-form main div#background div#timeLine div#line-config {
  width: 30%;
  border-radius: 10px;
  height: 5px;
}

div#box-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}

div.box-config {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  min-height: 50px;
  margin: 20px 0;
}

div.box-config p {
  font-size: 16pt;
}

div.box-config input[type=text] {
  justify-content: center;
  align-items: center;
  width: 200px;
  padding-left: 10px;
  color: black;
}

div.box-config  div.inputName {
  display: flex;
}

div.buttonSave {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background-color: #04bf04;
  border-radius: 5px;
  padding: 2px;
  border: 2px solid black;
  cursor: pointer;
}

div.buttonSave img {
  width: 100%;
  height: 100%;
}

div.box-config div#theme {
	display: flex;
}


div.box-config div#theme div.theme {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 3px solid silver;
  cursor: pointer;
}

#color-puple {
  background-color: rgb(88, 28, 230);
}

#color-pink {
  background-color: #de3be4;
}

#color-red {
  background-color: red;
}

#color-blue {
  background-color: blue;
}

#color-orange {
  background-color: orange;
}

#color-green {
  background-color: #04bf04;
}


div#avatar {
  display: flex;
  margin: 10px 0;
}


div.avatar {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: 3px solid silver;
  margin: 0 10px;
  cursor: pointer;
}

div#avatar img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
}

.selected {
  border: 3px solid black !important;
  filter: brightness(80%);
}

@media (min-width: 700px) {
  #page-teacher-form {
		max-width: 100vw;
  }

  #page-teacher-form .page-header .header-content {
		margin-bottom: 0;
  }
}

div#backgroundGray {
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
div.container-iframe {
	background-color: white;
    display: flex;
    flex-direction: column;
    width: 92%;
    height: 97%;
    margin: 1% 4%;
    border-radius: 5px;
	border: 1px solid white;

}

div.border{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    height: 40px;
    padding-left: 10px;
    border: 1px solid white;
	border-radius: 5px 5px 0 0;
	color: whitesmoke;
	font-family: Oswald, Helvetica, sans-serif;
}

div.buttonExit {
    background-color: rgba(255, 0, 0, 0.787);
    width: 35px;
    height: 30px;
    border: 1px solid white;
    text-align: center;
    margin-right: 3px;
    padding-top: 3px;
    border-radius: 5px;
    font-size: x-large;
    font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}

iframe {
	width: 100%;
	height: 100%;
}