<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focus</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="opacity"></div>


    <div class="block" id="inicio">
        <div class="header">
            <h1>Atividade das Operações</h1>
        </div>
        <div class="box-btn-iniciar">
            <div class="btn-iniciar">
                <a href="#Question1">INICIAR ATIVIDADE</a>
            </div>
        </div>

    </div>




    <!-- QUESTÃO 1 -->
    <div class="question" id="Question1">
        <h1 class="titleQuestion">Questão 1</h1>
        <div class="box">
            <div class="mini-box-images"></div>

            <div class="mini-box-resultado" onclick="inputBox(1)">
                Clique aqui e escolha o Resultado
            </div>

            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(1)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(1)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- QUESTÃO 2 -->
    <div class="question" id="Question2">
        <h1 class="titleQuestion">Questão 2</h1>
        <div class="box">
            <div class="mini-box-images"></div>

            <div class="mini-box-resultado" onclick="inputBox(2)">
                Clique aqui e escolha o Resultado
            </div>

            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(2)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(2)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- QUESTÃO 3 -->
    <div class="question" id="Question3">
        <h1 class="titleQuestion">Questão 3</h1>
        <div class="box">
            <div class="mini-box-images"></div>

            <div class="mini-box-resultado" onclick="inputBox(3)">
                Clique aqui e escolha o Resultado
            </div>

            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(3)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(3)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- QUESTÃO 4 -->
    <div class="question" id="Question4">
        <h1 class="titleQuestion">Questão 4</h1>
        <div class="box">
            <div class="mini-box-images"></div>

            <div class="mini-box-resultado" onclick="inputBox(4)">
                Clique aqui e escolha o Resultado
            </div>

            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(4)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(4)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- QUESTÃO 5 -->
    <div class="question" id="Question5">
        <h1 class="titleQuestion">Questão 5</h1>
        <div class="box">
            <div class="mini-box-images"></div>

            <div class="mini-box-resultado" onclick="inputBox(5)">
                Clique aqui e escolha o Resultado
            </div>

            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(5)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(5)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- QUESTÃO 6 -->
    <div class="question" id="Question6">
        <h1 class="titleQuestion">Questão 6</h1>
        <div class="box">
            <div class="mini-box-images"></div>

            <div class="mini-box-resultado" onclick="inputBox(6)">
                Clique aqui e escolha o Resultado
            </div>

            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(6)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(6)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- QUESTÃO 7 -->
    <div class="question" id="Question7">
        <h1 class="titleQuestion">Questão 7</h1>
        <div class="box">
            <div class="mini-box-images"></div>

            <div class="mini-box-resultado" onclick="inputBox(7)">
                Clique aqui e escolha o Resultado
            </div>

            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(7)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(7)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- QUESTÃO 8 -->
    <div class="question" id="Question8">
        <h1 class="titleQuestion">Questão 8</h1>
        <div class="box">
            <div class="mini-box-images"></div>

            <div class="mini-box-resultado" onclick="inputBox(8)">
                Clique aqui e escolha o Resultado
            </div>

            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(8)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(8)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- QUESTÃO 9 -->
    <div class="question" id="Question9">
        <h1 class="titleQuestion">Questão 9</h1>
        <div class="box">
            <div class="mini-box-images"></div>

            <div class="mini-box-resultado" onclick="inputBox(9)">
                Clique aqui e escolha o Resultado
            </div>

            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(9)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(9)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- QUESTÃO 10 -->
    <div class="question" id="Question10">
        <h1 class="titleQuestion">Questão 10</h1>
        <div class="box">
            <div class="mini-box-images"></div>

            <div class="mini-box-resultado" onclick="inputBox(10)">
                Clique aqui e escolha o Resultado
            </div>


            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(10)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(10)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>


    <!--  FINAL -->
    <div class="block">
        <div class="header">
            <h1>Atividade das Operações</h1>
        </div>

        <div class="configuracoes" id="configuracoes">
            <h2>Concluir Atividade</h2>
            <div>
                <div class="btn-config" id="Back" onclick="backQuestion(11)">Voltar</div>
                <div class="btn-config" id="SaveConfigs" onclick="validationConfig()">Salvar</div>
            </div>
            
        </div>
    </div>


    <div class="window" id="window">
        <div class="images" onclick="selectedFigure(0)">
            <img class="imageTheme" src="../../images/numbers/padrao/0.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(1)">
            <img class="imageTheme" src="../../images/numbers/padrao/1.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(2)">
            <img class="imageTheme" src="../../images/numbers/padrao/2.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(3)">
            <img class="imageTheme" src="../../images/numbers/padrao/3.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(4)">
            <img class="imageTheme" src="../../images/numbers/padrao/4.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(5)">
            <img class="imageTheme" src="../../images/numbers/padrao/5.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(6)">
            <img class="imageTheme" src="../../images/numbers/padrao/6.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(7)">
            <img class="imageTheme" src="../../images/numbers/padrao/7.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(8)">
            <img class="imageTheme" src="../../images/numbers/padrao/8.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(9)">
            <img class="imageTheme" src="../../images/numbers/padrao/9.png" alt="">
        </div>
    </div>


    <script src="../../../Model/js/configDoActivity.js"></script>
</body>

</html>