<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./style.css">
	<link rel="stylesheet" href="../styleDefault.css">
	<title>Gamificação</title>
	<link>
</head>

<body>
	<div id="page-landing">
		<div id="top-bar-container">
			<a href="../index.html">
				<img src="../images/icons/back.svg" alt="Voltar" />
			</a>
			<h1>FOCUS</h1>
		</div>

		<div id="container">
			<div id="sub-container">
				<div id="top">
					<!-- <img src="../images/logo.svg" alt="Proffy" /> -->
					<h2>Faça o seu login como professor.</h2>
				</div>

				<div id="mid">
					<p>E-mail:</p>
					<input type="email" name="email">
					<br><br>
					<p>Senha:</p>
					<input type="password" name="password">
					<br>
					<a href="#">Esqueceu sua senha?</a>
				</div>
				<div id="bot">
					<div>
						<a class="entrar" href="../HomeProfessores/index.html">Entrar</a>
					</div>
				</div>
			</div>
			<img src="../images/login_professor.svg" alt="Plataforma de estudos" class="hero-image" />
		</div>
	</div>
</body>

</html>