<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focus</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="container">
        <div class="border">
            <h2>Focus</h2>
            <div class="buttonExit" onclick="test()">X</div>
        </div>

        <main>
            <div class="opacity"></div>

            <div class="header">
                <h1>Atividade das Operações</h1>
            </div>


            <div class="configuracoes">
                <h2>Configurações</h2>

                Nome da Tarefa
                <input type="text" name="" id="">
                <br>
                Data de abertura
                <input type="date" name="" id="">
                <br>
                Data de finalização
                <input type="date" name="" id="">
                <a href="#Question1" id="SaveConfigs">Salvar</a>
            </div>



            <!-- QUESTÃO 1 -->
            <div class="question" id="Question1">
                <h1 class="titleQuestion">Questão 1</h1>
                <div class="box">
                    <div class="mini-box number1">
                        <!-- <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt=""> -->
                        Clique aqui e escolha um número
                    </div>

                    <div class="mini-box" id="operador">
                        <!-- <img src="../../images/numbers/operadores/soma.png" alt=""> -->
                        Escolha um operador
                    </div>

                    <div class="mini-box number2">
                        Clique aqui e escolha um número
                    </div>

                    <div class=" mini-box" id="sinalIgual">
                        <!-- <h1>=</h1> -->
                        <img src="../../images/numbers/operadores/igual.png" alt="">

                    </div>

                    <div class="mini-box" id="resultado">
                        <!-- <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt=""> -->
                        Resultado
                    </div>


                    <div class="mini-box" id="check">
                        <a href="#Question2"><img src="../../images/icons/check.png" alt=""></a>
                    </div>
                </div>
            </div>


            <!-- QUESTÃO 2 -->
            <div class="question" id="Question2">
                <h1 class="titleQuestion">Questão 2</h1>
                <div class="box">
                    <div class="mini-box number1">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">

                    </div>

                    <div class="mini-box" id="operador">
                        <img src="../../images/numbers/operadores/soma.png" alt="">

                    </div>

                    <div class="mini-box number2">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                    </div>

                    <div class=" mini-box" id="sinalIgual">
                        <!-- <h1>=</h1> -->
                        <img src="../../images/numbers/operadores/igual.png" alt="">

                    </div>

                    <div class="mini-box" id="resultado">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                    </div>


                    <div class="mini-box" id="check">
                        <a href="#Question3"><img src="../../images/icons/check.png" alt=""></a>
                    </div>
                </div>
            </div>

            <!-- QUESTÃO 3 -->
            <div class="question" id="Question3">
                <h1 class="titleQuestion">Questão 3</h1>
                <div class="box">
                    <div class="mini-box number1">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">

                    </div>

                    <div class="mini-box" id="operador">

                    </div>

                    <div class="mini-box number2">
                        Clique para inserir
                    </div>

                    <div class=" mini-box" id="sinalIgual">
                        <h1>=</h1>
                    </div>

                    <div class="mini-box" id="resultado">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                    </div>


                    <div class="mini-box" id="check">
                        <a href="#Question4"><img src="../../images/icons/check.png" alt=""></a>
                    </div>
                </div>
            </div>


            <!-- QUESTÃO 4 -->
            <div class="question" id="Question4">
                <h1 class="titleQuestion">Questão 4</h1>
                <div class="box">
                    <div class="mini-box number1">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">

                    </div>

                    <div class="mini-box" id="operador">

                    </div>

                    <div class="mini-box number2">
                        Clique para inserir
                    </div>

                    <div class=" mini-box" id="sinalIgual">
                        <h1>=</h1>
                    </div>

                    <div class="mini-box" id="resultado">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                    </div>


                    <div class="mini-box" id="check">
                        <a href="#Question5"><img src="../../images/icons/check.png" alt=""></a>
                    </div>
                </div>
            </div>


            <!-- QUESTÃO 5 -->
            <div class="question" id="Question5">
                <h1 class="titleQuestion">Questão 5</h1>
                <div class="box">
                    <div class="mini-box number1">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">

                    </div>

                    <div class="mini-box" id="operador">

                    </div>

                    <div class="mini-box number2">
                        Clique para inserir
                    </div>

                    <div class=" mini-box" id="sinalIgual">
                        <h1>=</h1>
                    </div>

                    <div class="mini-box" id="resultado">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                    </div>


                    <div class="mini-box" id="check">
                        <a href="#Question6"><img src="../../images/icons/check.png" alt=""></a>
                    </div>
                </div>
            </div>


            <!-- QUESTÃO 6 -->
            <div class="question" id="Question6">
                <h1 class="titleQuestion">Questão 6</h1>
                <div class="box">
                    <div class="mini-box number1">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">

                    </div>

                    <div class="mini-box" id="operador">

                    </div>

                    <div class="mini-box number2">
                        Clique para inserir
                    </div>

                    <div class=" mini-box" id="sinalIgual">
                        <h1>=</h1>
                    </div>

                    <div class="mini-box" id="resultado">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                    </div>


                    <div class="mini-box" id="check">
                        <a href="#Question7"><img src="../../images/icons/check.png" alt=""></a>
                    </div>
                </div>
            </div>


            <!-- QUESTÃO 7 -->
            <div class="question" id="Question7">
                <h1 class="titleQuestion">Questão 7</h1>
                <div class="box">
                    <div class="mini-box number1">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">

                    </div>

                    <div class="mini-box" id="operador">

                    </div>

                    <div class="mini-box number2">
                        Clique para inserir
                    </div>

                    <div class=" mini-box" id="sinalIgual">
                        <h1>=</h1>
                    </div>

                    <div class="mini-box" id="resultado">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                    </div>


                    <div class="mini-box" id="check">
                        <a href="#Question8"><img src="../../images/icons/check.png" alt=""></a>
                    </div>
                </div>
            </div>

            <!-- QUESTÃO 8 -->
            <div class="question" id="Question8">
                <h1 class="titleQuestion">Questão 8</h1>
                <div class="box">
                    <div class="mini-box number1">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">

                    </div>

                    <div class="mini-box" id="operador">

                    </div>

                    <div class="mini-box number2">
                        Clique para inserir
                    </div>

                    <div class=" mini-box" id="sinalIgual">
                        <h1>=</h1>
                    </div>

                    <div class="mini-box" id="resultado">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                    </div>


                    <div class="mini-box" id="check">
                        <a href="#Question9"><img src="../../images/icons/check.png" alt=""></a>
                    </div>
                </div>
            </div>


            <!-- QUESTÃO 9 -->
            <div class="question" id="Question9">
                <h1 class="titleQuestion">Questão 9</h1>
                <div class="box">
                    <div class="mini-box number1">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">

                    </div>

                    <div class="mini-box" id="operador">

                    </div>

                    <div class="mini-box number2">
                        Clique para inserir
                    </div>

                    <div class=" mini-box" id="sinalIgual">
                        <h1>=</h1>
                    </div>

                    <div class="mini-box" id="resultado">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                    </div>


                    <div class="mini-box" id="check">
                        <a href="#Question10"><img src="../../images/icons/check.png" alt=""></a>
                    </div>
                </div>
            </div>

            <!-- QUESTÃO 10 -->
            <div class="question" id="Question10">
                <h1 class="titleQuestion">Questão 10</h1>
                <div class="box">
                    <div class="mini-box number1">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">

                    </div>

                    <div class="mini-box" id="operador">

                    </div>

                    <div class="mini-box number2">
                        Clique para inserir
                    </div>

                    <div class=" mini-box" id="sinalIgual">
                        <h1>=</h1>
                    </div>

                    <div class="mini-box" id="resultado">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                        <img src="../../images/numbers/monsters/number1.png" alt="">
                    </div>


                    <div class="mini-box" id="check">
                        <a href="#Question2"><img src="../../images/icons/check.png" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="window">
                <div class="images">
                    <img src="../../images/numbers/monsters/number1.png" alt="">
                </div>
                <div class="images">
                    <img src="../../images/numbers/monsters/number2.png" alt="">
                </div>
                <div class="images">
                    <img src="../../images/numbers/monsters/number3.png" alt="">
                </div>
                <div class="images">
                    <img src="../../images/numbers/monsters/number4.png" alt="">
                </div>
                <div class="images">
                    <img src="../../images/numbers/monsters/number5.png" alt="">
                </div>
                <div class="images">
                    <img src="../../images/numbers/monsters/number6.png" alt="">
                </div>
                <div class="images">
                    <img src="../../images/numbers/monsters/number7.png" alt="">
                </div>
                <div class="images">
                    <img src="../../images/numbers/monsters/number8.png" alt="">
                </div>
                <div class="images">
                    <img src="../../images/numbers/monsters/number9.png" alt="">
                </div>
                <div class="images">
                    <img src="../../images/numbers/monsters/number0.png" alt="">
                </div>
                <div class="images">
                    <img src="../../images/numbers/operadores/soma.png" alt="">
                </div>
                <div class="images">
                    <img src="../../images/numbers/operadores/subtracao.png" alt="">
                </div>
                <div class="images">
                    <img src="../../images/numbers/operadores/multiplicacao.png" alt="">
                </div>
                <div class="images">
                    <img src="../../images/numbers/operadores/divisao.png" alt="">
                </div>
            </div>
        </main>
    </div>
</body>

</html>