<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focus</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="container">
        <div class="border">
            <h2>Focus</h2>
            <div class="buttonExit">X</div>
        </div>

        <main>
            <div class="opacity">

                <div class="header">
                    <h1>Atividade das Operações</h1>
                </div>

                <div class="box">
                    <div class="mini-box number1">
                        <img src="../../images/numbers/number1.png" alt="">
                        Escolha um número
                    </div>

                    <div class="mini-box operador">
                        Escolha um operador
                    </div>

                    <div class="mini-box number2">
                        Escolha um número
                    </div>

                    <div class=" mini-box" id="sinalIgual">
                        <h1>=</h1>
                    </div>

                    <div class="mini-box" id="resultado">
                        Escolha um número
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>