@import "https://fonts.googleapis.com/css?family=Oswald:300,400,700";*

{
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: Oswald, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: 400 18px Oswald, Helvetica, sans-serif;
}


body {
    width: 100%;
    height: 100%;
    background: url(../../images/home_page_bg_2.jpg);
    background-repeat: repeat-y;
    background-size: 100% 100vh;
    position: relative;
    z-index: -1;
}


div.opacity {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}

div.header {
    display: flex;
    width: 100%;
    height: 30vh;
}

div.header h1 {
    width: 100%;
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    font-family: Oswald, Helvetica, sans-serif;
}


div.configuracoes {
    width: 80%;
    height: 68vh;
    margin: 0 auto;
    border-radius: 10px;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16pt;
    z-index: 100;
}

div.configuracoes input {
    color: black;
    width: 200px;
    height: 30px;
    font-size: 14pt;
    padding-left: 20px;
    border-radius: 5px;
}

a#SaveConfigs {
    background-color: rgb(13, 163, 13);
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}

div.question {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

div.question h1.titleQuestion{
    font-size: 40px;
    margin: 50px 0;
}

div.box {
    border: 2px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0 5px;
}


div.mini-box {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:  1px dashed whitesmoke;
    cursor: pointer;
    font-size: 20px;
}

div.mini-box img{
    width: 100px;
    height: 100%;
}

div#operador {
    width: 100px;
}

div#sinalIgual {
    width: 100px;
    font-size: 50px;
    cursor:default;
}

div#sinalIgual img {
    width: 100%;
}

div#resultado {
    width: 300px;
}

div#check {
    width: 100px;
    cursor:default;
    border: none;
}

div#check img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    filter: brightness(20%);
    cursor: pointer;
}

div#check img:active{
    filter: brightness(100%);
}

div.window {
    width: 79%;
    height: 120px;
    display: flex;

    bottom: 0;
    margin: 0 10%;
    position: fixed;
    background-color: whitesmoke;
    border: 5px solid black;
    border-radius: 10px 10px 0 0;
    padding: 5px;
}

div.images {
    width: 74px;
    border: 1px solid black;
    cursor: pointer;
}

div.images img {
    width: 100%;
    height: 100%;
}