<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focus</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="opacity"></div>

    <!-- CONFIGURAÇÕES -->
    <div class="block">
        <div class="header" id="nov">
            <h1>Atividade das Operações</h1>
        </div>

        <div class="configuracoes" id="configuracoes">
            <h2>Configurações</h2>

            Nome da Tarefa
            <input type="text" name="Nome da Tarefa" id="description">
            <br>
            Quantidade de Questões
            <select name="Quantidade de Questões" id="quantity_question">
                <option value="" selected>Selecione</option>
                <option value="1">1 Questão</option>
                <option value="2">2 Questões</option>
                <option value="3">3 Questões</option>
                <option value="4">4 Questões</option>
                <option value="5">5 Questões</option>
                <option value="6">6 Questões</option>
                <option value="7">7 Questões</option>
                <option value="8">8 Questões</option>
                <option value="9">9 Questões</option>
                <option value="10">10 Questões</option>
            </select>
            <div>
                <div>
                    Data de abertura
                    <input type="date" name="Data de abertura" id="data_inicio">
                </div>

                <div>
                    Data de finalização
                    <input type="date" name="Data de finalização" id="data_fim">
                </div>
            </div>

            <div>
                <div class="btn-config" id="SaveConfigs" onclick="validationConfig()">Salvar</div>
            </div>
        </div>
    </div>

    <div class="block" id="inicio">
        <div class="header">
            <h1>Atividade das Operações</h1>
        </div>
        <div class="themes">
            <h2>Escolha qual tema será aplicado nessa atividade</h2>

            <div class="tipos">
                <div class="boxImages selectedTipo" onclick="selectTheme('padrao',0)">
                    <img src="../../images/icons/emoji_padrao.svg" alt="">
                    Padrão
                </div>
                <div class="boxImages" onclick="selectTheme('festa',1)">
                    <img src="../../images/icons/emoji_party.svg" alt="">
                    Festa
                </div>
                <div class="boxImages" onclick="selectTheme('retro',2)">
                    <img src="../../images/icons/emoji_hippie.svg" alt="">
                    Retrô
                </div>
                <div class="boxImages" onclick="selectTheme('hero',3)">
                    <img src="../../images/icons/emoji_heroes.svg" alt="">
                    Heróis
                </div>
                <div class="boxImages" onclick="selectTheme('monsters',4)">
                    <img src="../../images/icons/emoji_monster1.svg" alt="">
                    Monstros 1
                </div>
                <div class="boxImages" onclick="selectTheme('monster2',5)">
                    <img src="../../images/icons/emoji_monster2.svg" alt="">
                    Monstros 2
                </div>
                <div class="boxImages" onclick="selectTheme('feras',6)">
                    <img src="../../images/icons/emoji_monster3.svg" alt="">
                    Monstros 3
                </div>
            </div>
            <a href="#Question1" onclick="exibeAba(false)">Avançar</a>
        </div>
    </div>


    <!-- QUESTÃO 1 -->
    <div class="question" id="Question1">
        <h1 class="titleQuestion">Questão 1</h1>
        <div class="main-box">
            <div class="box">
                Escolha o primeiro número
                <input class="input-1" type="number" name="" id="">
                Selecione uma operação
                <select class="input-2" name="operações">
                    <option value="" selected>Selecione</option>
                    <option value="11">Soma (+)</option>
                    <option value="12">Subtração (-)</option>
                    <option value="14">Divisão (/)</option>
                    <option value="13">Multiplicação (x)</option>
                </select>
                Escolha o segundo número
                <input class="input-3" type="number" name="" id="" min="-999" max="999">
    
                <div class="btn-calculos">
                    <div class="btn-limpar" onclick="limpar(0)">
                        Limpar
                    </div>
                    <div class="btn-calcular" onclick="calcular(0)">
                        Calcular
                    </div>
                </div>
            </div>
            <div class="boxAudio">
                Observação da Tarefa
            <textarea id="story" name="story" rows="10" cols="50"></textarea>
  
                Narrativa da Atividade
                <img src="../../images/icons/microphone.png" alt="" id="micro">
            </div>
        </div>
        

        <div class="box-result ocult-box"></div>

        <div class="btn-question">
            <div class="btn-anterior">
                <a href="#inicio">Voltar</a>

            </div>
            <div class="btn-save ocult-btn">
                <a href="#Question2">Salvar Questão</a>
            </div>
        </div>
    </div>

    <!-- QUESTÃO 2 -->
    <div class="question" id="Question2">
        <h1 class="titleQuestion">Questão 2</h1>
        <div class="box">
            Escolha o primeiro número
            <input class="input-1" type="number" name="" id="">
            Selecione uma operação
            <select class="input-2" name="operações">
                <option value="" selected>Selecione</option>
                <option value="11">Soma (+)</option>
                <option value="12">Subtração (-)</option>
                <option value="14">Divisão (/)</option>
                <option value="13">Multiplicação (x)</option>
            </select>
            Escolha o segundo número
            <input class="input-3" type="number" name="" id="" min="-999" max="999">

            <div class="btn-calculos">
                <div class="btn-limpar" onclick="limpar(1)">
                    Limpar
                </div>
                <div class="btn-calcular" onclick="calcular(1)">
                    Calcular
                </div>
            </div>
        </div>

        <div class="box-result ocult-box"></div>

        <div class="btn-question">
            <div class="btn-anterior">
                <a href="#Question1">Voltar</a>

            </div>
            <div class="btn-save ocult-btn">
                <a href="#Question3">Salvar Questão</a>
            </div>
        </div>
    </div>

    <!-- QUESTÃO 3 -->
    <div class="question" id="Question3">
        <h1 class="titleQuestion">Questão 3</h1>
        <div class="box">
            Escolha o primeiro número
            <input class="input-1" type="number" name="" id="">
            Selecione uma operação
            <select class="input-2" name="operações">
                <option value="" selected>Selecione</option>
                <option value="11">Soma (+)</option>
                <option value="12">Subtração (-)</option>
                <option value="14">Divisão (/)</option>
                <option value="13">Multiplicação (x)</option>
            </select>
            Escolha o segundo número
            <input class="input-3" type="number" name="" id="" min="-999" max="999">

            <div class="btn-calculos">
                <div class="btn-limpar" onclick="limpar(2)">
                    Limpar
                </div>
                <div class="btn-calcular" onclick="calcular(2)">
                    Calcular
                </div>
            </div>
        </div>

        <div class="box-result ocult-box"></div>

        <div class="btn-question">
            <div class="btn-anterior">
                <a href="#Question2">Voltar</a>

            </div>
            <div class="btn-save ocult-btn">
                <a href="#Question4">Salvar Questão</a>
            </div>
        </div>
    </div>

    <!-- QUESTÃO 4 -->
    <div class="question" id="Question4">
        <h1 class="titleQuestion">Questão 4</h1>
        <div class="box">
            Escolha o primeiro número
            <input class="input-1" type="number" name="" id="">
            Selecione uma operação
            <select class="input-2" name="operações">
                <option value="" selected>Selecione</option>
                <option value="11">Soma (+)</option>
                <option value="12">Subtração (-)</option>
                <option value="14">Divisão (/)</option>
                <option value="13">Multiplicação (x)</option>
            </select>
            Escolha o segundo número
            <input class="input-3" type="number" name="" id="" min="-999" max="999">

            <div class="btn-calculos">
                <div class="btn-limpar" onclick="limpar(3)">
                    Limpar
                </div>
                <div class="btn-calcular" onclick="calcular(3)">
                    Calcular
                </div>
            </div>
        </div>

        <div class="box-result ocult-box"></div>

        <div class="btn-question">
            <div class="btn-anterior">
                <a href="#Question3">Voltar</a>

            </div>
            <div class="btn-save ocult-btn">
                <a href="#Question5">Salvar Questão</a>
            </div>
        </div>
    </div>

    <!-- QUESTÃO 5 -->
    <div class="question" id="Question5">
        <h1 class="titleQuestion">Questão 5</h1>
        <div class="box">
            Escolha o primeiro número
            <input class="input-1" type="number" name="" id="">
            Selecione uma operação
            <select class="input-2" name="operações">
                <option value="" selected>Selecione</option>
                <option value="11">Soma (+)</option>
                <option value="12">Subtração (-)</option>
                <option value="14">Divisão (/)</option>
                <option value="13">Multiplicação (x)</option>
            </select>
            Escolha o segundo número
            <input class="input-3" type="number" name="" id="" min="-999" max="999">

            <div class="btn-calculos">
                <div class="btn-limpar" onclick="limpar(4)">
                    Limpar
                </div>
                <div class="btn-calcular" onclick="calcular(4)">
                    Calcular
                </div>
            </div>
        </div>

        <div class="box-result ocult-box"></div>

        <div class="btn-question">
            <div class="btn-anterior">
                <a href="#Question4">Voltar</a>

            </div>
            <div class="btn-save ocult-btn">
                <a href="#Question6">Salvar Questão</a>
            </div>
        </div>
    </div>

    <!-- QUESTÃO 6 -->
    <div class="question" id="Question6">
        <h1 class="titleQuestion">Questão 6</h1>
        <div class="box">
            Escolha o primeiro número
            <input class="input-1" type="number" name="" id="">
            Selecione uma operação
            <select class="input-2" name="operações">
                <option value="" selected>Selecione</option>
                <option value="11">Soma (+)</option>
                <option value="12">Subtração (-)</option>
                <option value="14">Divisão (/)</option>
                <option value="13">Multiplicação (x)</option>
            </select>
            Escolha o segundo número
            <input class="input-3" type="number" name="" id="" min="-999" max="999">

            <div class="btn-calculos">
                <div class="btn-limpar" onclick="limpar(5)">
                    Limpar
                </div>
                <div class="btn-calcular" onclick="calcular(5)">
                    Calcular
                </div>
            </div>
        </div>

        <div class="box-result ocult-box"></div>

        <div class="btn-question">
            <div class="btn-anterior">
                <a href="#Question5">Voltar</a>

            </div>
            <div class="btn-save ocult-btn">
                <a href="#Question7">Salvar Questão</a>
            </div>
        </div>
    </div>

    <!-- QUESTÃO 7 -->
    <div class="question" id="Question7">
        <h1 class="titleQuestion">Questão 7</h1>
        <div class="box">
            Escolha o primeiro número
            <input class="input-1" type="number" name="" id="">
            Selecione uma operação
            <select class="input-2" name="operações">
                <option value="" selected>Selecione</option>
                <option value="11">Soma (+)</option>
                <option value="12">Subtração (-)</option>
                <option value="14">Divisão (/)</option>
                <option value="13">Multiplicação (x)</option>
            </select>
            Escolha o segundo número
            <input class="input-3" type="number" name="" id="" min="-999" max="999">

            <div class="btn-calculos">
                <div class="btn-limpar" onclick="limpar(6)">
                    Limpar
                </div>
                <div class="btn-calcular" onclick="calcular(6)">
                    Calcular
                </div>
            </div>
        </div>

        <div class="box-result ocult-box"></div>

        <div class="btn-question">
            <div class="btn-anterior">
                <a href="#Question6">Voltar</a>

            </div>
            <div class="btn-save ocult-btn">
                <a href="#Question8">Salvar Questão</a>
            </div>
        </div>
    </div>

    <!-- QUESTÃO 8 -->
    <div class="question" id="Question8">
        <h1 class="titleQuestion">Questão 8</h1>
        <div class="box">
            Escolha o primeiro número
            <input class="input-1" type="number" name="" id="">
            Selecione uma operação
            <select class="input-2" name="operações">
                <option value="" selected>Selecione</option>
                <option value="11">Soma (+)</option>
                <option value="12">Subtração (-)</option>
                <option value="14">Divisão (/)</option>
                <option value="13">Multiplicação (x)</option>
            </select>
            Escolha o segundo número
            <input class="input-3" type="number" name="" id="" min="-999" max="999">

            <div class="btn-calculos">
                <div class="btn-limpar" onclick="limpar(7)">
                    Limpar
                </div>
                <div class="btn-calcular" onclick="calcular(7)">
                    Calcular
                </div>
            </div>
        </div>

        <div class="box-result ocult-box"></div>

        <div class="btn-question">
            <div class="btn-anterior">
                <a href="#Question7">Voltar</a>

            </div>
            <div class="btn-save ocult-btn">
                <a href="#Question9">Salvar Questão</a>
            </div>
        </div>
    </div>

    <!-- QUESTÃO 9 -->
    <div class="question" id="Question9">
        <h1 class="titleQuestion">Questão 9</h1>
        <div class="box">
            Escolha o primeiro número
            <input class="input-1" type="number" name="" id="">
            Selecione uma operação
            <select class="input-2" name="operações">
                <option value="" selected>Selecione</option>
                <option value="11">Soma (+)</option>
                <option value="12">Subtração (-)</option>
                <option value="14">Divisão (/)</option>
                <option value="13">Multiplicação (x)</option>
            </select>
            Escolha o segundo número
            <input class="input-3" type="number" name="" id="" min="-999" max="999">

            <div class="btn-calculos">
                <div class="btn-limpar" onclick="limpar(8)">
                    Limpar
                </div>
                <div class="btn-calcular" onclick="calcular(8)">
                    Calcular
                </div>
            </div>
        </div>

        <div class="box-result ocult-box"></div>

        <div class="btn-question">
            <div class="btn-anterior">
                <a href="#Question8">Voltar</a>

            </div>
            <div class="btn-save ocult-btn">
                <a href="#Question10">Salvar Questão</a>
            </div>
        </div>
    </div>

    <!-- QUESTÃO 10 -->
    <div class="question" id="Question10">
        <h1 class="titleQuestion">Questão 10</h1>
        <div class="box">
            Escolha o primeiro número
            <input class="input-1" type="number" name="" id="">
            Selecione uma operação
            <select class="input-2" name="operações">
                <option value="" selected>Selecione</option>
                <option value="11">Soma (+)</option>
                <option value="12">Subtração (-)</option>
                <option value="14">Divisão (/)</option>
                <option value="13">Multiplicação (x)</option>
            </select>
            Escolha o segundo número
            <input class="input-3" type="number" name="" id="" min="-999" max="999">

            <div class="btn-calculos">
                <div class="btn-limpar" onclick="limpar(9)">
                    Limpar
                </div>
                <div class="btn-calcular" onclick="calcular(9)">
                    Calcular
                </div>
            </div>
        </div>

        <div class="box-result ocult-box"></div>

        <div class="btn-question">
            <div class="btn-anterior">
                <a href="#Question9">Voltar</a>

            </div>
            <div class="btn-save ocult-btn">
                Salvar Questão
            </div>
        </div>
    </div>
    <div class="window" id="window">
        <div class="images" onclick="selectedFigure(0)">
            <img class="imageTheme" src="../../images/numbers/padrao/0.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(1)">
            <img class="imageTheme" src="../../images/numbers/padrao/1.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(2)">
            <img class="imageTheme" src="../../images/numbers/padrao/2.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(3)">
            <img class="imageTheme" src="../../images/numbers/padrao/3.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(4)">
            <img class="imageTheme" src="../../images/numbers/padrao/4.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(5)">
            <img class="imageTheme" src="../../images/numbers/padrao/5.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(6)">
            <img class="imageTheme" src="../../images/numbers/padrao/6.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(7)">
            <img class="imageTheme" src="../../images/numbers/padrao/7.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(8)">
            <img class="imageTheme" src="../../images/numbers/padrao/8.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(9)">
            <img class="imageTheme" src="../../images/numbers/padrao/9.png" alt="">
        </div>
    </div>

    <div id="blackBlock">
        <h1>Atividade finalizada !!</h1>
        <h1>Feche esta aba</h1>
    </div>

    <script src="../../../Model/js/configCreateActivity.js"></script>
</body>

</html>