<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focus</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="opacity"></div>

    <!-- CONFIGURAÇÕES -->
    <div class="block">
        <div class="header">
            <h1>Atividade das Operações</h1>
        </div>

        <div class="configuracoes" id="configuracoes">
            <h2>Configurações</h2>

            Nome da Tarefa
            <input type="text" name="Nome da Tarefa" id="">
            <br>
            Quantidade de Questões
            <select name="Quantidade de Questões" id="">
                <option value="" selected>Selecione</option>
                <option value="">1 Questão</option>
                <option value="">2 Questões</option>
                <option value="">3 Questões</option>
                <option value="">4 Questões</option>
                <option value="">5 Questões</option>
                <option value="">6 Questões</option>
                <option value="">7 Questões</option>
                <option value="">8 Questões</option>
                <option value="">9 Questões</option>
                <option value="">10 Questões</option>

            </select>

            <br>
            <div>
                <div>
                    Data de abertura
                    <input type="date" name="Data de abertura" id="">
                </div>

                <div>
                    Data de finalização
                    <input type="date" name="Data de finalização" id="">
                </div>
            </div>

            <div>
                <div class="btn-config" id="Back" onclick="backQuestion(11)">Voltar</div>
                <div class="btn-config" id="SaveConfigs" onclick="validationConfig()">Salvar</div>
            </div>
        </div>
    </div>

    <div class="block" id="inicio">
        <div class="header">
            <h1>Atividade das Operações</h1>
        </div>
        <div class="themes">
            <h2>Escolha qual tema será aplicado nessa atividade</h2>

            <div class="tipos">
                <div class="boxImages selectedTipo" onclick="selectTheme('padrao',0)">
                    <img src="../../images/icons/emoji_padrao.svg" alt="">
                    Padrão
                </div>
                <div class="boxImages" onclick="selectTheme('festa',1)">
                    <img src="../../images/icons/emoji_party.svg" alt="">
                    Festa
                </div>
                <div class="boxImages" onclick="selectTheme('retro',2)">
                    <img src="../../images/icons/emoji_hippie.svg" alt="">
                    Retrô
                </div>
                <div class="boxImages" onclick="selectTheme('hero',3)">
                    <img src="../../images/icons/emoji_heroes.svg" alt="">
                    Heróis
                </div>
                <div class="boxImages" onclick="selectTheme('monsters',4)">
                    <img src="../../images/icons/emoji_monster1.svg" alt="">
                    Monstros 1
                </div>
                <div class="boxImages" onclick="selectTheme('monster2',5)">
                    <img src="../../images/icons/emoji_monster2.svg" alt="">
                    Monstros 2
                </div>
                <div class="boxImages" onclick="selectTheme('feras',6)">
                    <img src="../../images/icons/emoji_monster3.svg" alt="">
                    Monstros 3
                </div>

            </div>

            <a href="#Question1">Avançar</a>
        </div>
    </div>


    <!-- QUESTÃO 1 -->
    <div class="question" id="Question1">
        <h1 class="titleQuestion">Questão 1</h1>
        <div class="box">
            Escolha o primeiro número
            <input type="number" name="" id="">
            Selecione uma operação
            <select name="operações" id="">
                <option value="" selected>Selecione</option>
                <option value="">Soma (+)</option>
                <option value="">Subtração (-)</option>
                <option value="">Divisão (/)</option>
                <option value="">Multiplicação (x)</option>
            </select>
            Escolha o segundo número
            <input type="number" name="" id="">

            <div class="btn-calculos">
                <div class="btn-limpar">
                    Limpar
                </div>
                <div class="btn-calcular">
                    Calcular
                </div>
            </div>
        </div>

        <div class="box-result">
            números
        </div>

        <div class="btn-question">
            <div class="btn-anterior">
                Questão Anterior
            </div>
            <div class="btn-save">
                Salvar Questão
            </div>
        </div>
    </div>

    <!-- QUESTÃO 2 -->
    <div class="question" id="Question1">
        <h1 class="titleQuestion">Questão 1</h1>
        <div class="box">
            Escolha o primeiro número
            <input type="number" name="" id="">
            Selecione uma operação
            <select name="operações" id="">
                <option value="" selected>Selecione</option>
                <option value="">Soma (+)</option>
                <option value="">Subtração (-)</option>
                <option value="">Divisão (/)</option>
                <option value="">Multiplicação (x)</option>
            </select>
            Escolha o segundo número
            <input type="number" name="" id="">

            <div class="btn-calculos">
                <div class="btn-limpar">
                    Limpar
                </div>
                <div class="btn-calcular">
                    Calcular
                </div>
            </div>
        </div>

        <div class="box-result">
            números
        </div>

        <div class="btn-question">
            <div class="btn-anterior">
                Questão Anterior
            </div>
            <div class="btn-save">
                Salvar Questão
            </div>
        </div>
    </div>

    <!-- QUESTÃO 2 -->
    <div class="question" id="Question2">
        <h1 class="titleQuestion">Questão 2</h1>
        <div class="box">
            <div class="mini-box box1" onclick="inputBox(2,1)">
                Clique aqui e escolha um número
            </div>

            <div class="mini-box operador" id="operador" onclick="inputBox(2,2)">
                Clique aqui e escolha um operador
            </div>

            <div class="mini-box box3" onclick="inputBox(2,3)">
                Clique aqui e escolha um número
            </div>

            <div class=" mini-box" id="sinalIgual">
                <!-- <h1>=</h1> -->
                <img src="../../images/numbers/operadores/igual.png" alt="">

            </div>

            <div class="mini-box resultado" id="resultado" onclick="inputBox(2,4)">
                Clique aqui e escolha o Resultado
            </div>

            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(2)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(2)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- QUESTÃO 3 -->
    <div class="question" id="Question3">
        <h1 class="titleQuestion">Questão 3</h1>
        <div class="box">
            <div class="mini-box box1" onclick="inputBox(3,1)">
                Clique aqui e escolha um número
            </div>

            <div class="mini-box operador" id="operador" onclick="inputBox(3,2)">
                Clique aqui e escolha um operador
            </div>

            <div class="mini-box box3" onclick="inputBox(3,3)">
                Clique aqui e escolha um número
            </div>

            <div class=" mini-box" id="sinalIgual">
                <!-- <h1>=</h1> -->
                <img src="../../images/numbers/operadores/igual.png" alt="">

            </div>

            <div class="mini-box resultado" id="resultado" onclick="inputBox(3,4)">
                Clique aqui e escolha o Resultado
            </div>

            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(3)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(3)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- QUESTÃO 4 -->
    <div class="question" id="Question4">
        <h1 class="titleQuestion">Questão 4</h1>
        <div class="box">
            <div class="mini-box box1" onclick="inputBox(4,1)">
                Clique aqui e escolha um número
            </div>

            <div class="mini-box operador" id="operador" onclick="inputBox(4,2)">
                Clique aqui e escolha um operador
            </div>

            <div class="mini-box box3" onclick="inputBox(4,3)">
                Clique aqui e escolha um número
            </div>

            <div class=" mini-box" id="sinalIgual">
                <!-- <h1>=</h1> -->
                <img src="../../images/numbers/operadores/igual.png" alt="">

            </div>

            <div class="mini-box resultado" id="resultado" onclick="inputBox(4,4)">
                Clique aqui e escolha o Resultado
            </div>

            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(4)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(4)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- QUESTÃO 5 -->
    <div class="question" id="Question5">
        <h1 class="titleQuestion">Questão 5</h1>
        <div class="box">
            <div class="mini-box box1" onclick="inputBox(5,1)">
                Clique aqui e escolha um número
            </div>

            <div class="mini-box operador" id="operador" onclick="inputBox(5,2)">
                Clique aqui e escolha um operador
            </div>

            <div class="mini-box box3" onclick="inputBox(5,3)">
                Clique aqui e escolha um número
            </div>

            <div class=" mini-box" id="sinalIgual">
                <!-- <h1>=</h1> -->
                <img src="../../images/numbers/operadores/igual.png" alt="">

            </div>

            <div class="mini-box resultado" id="resultado" onclick="inputBox(5,4)">
                Clique aqui e escolha o Resultado
            </div>

            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(5)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(5)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- QUESTÃO 6 -->
    <div class="question" id="Question6">
        <h1 class="titleQuestion">Questão 6</h1>
        <div class="box">
            <div class="mini-box box1" onclick="inputBox(6,1)">
                Clique aqui e escolha um número
            </div>

            <div class="mini-box operador" id="operador" onclick="inputBox(6,2)">
                Clique aqui e escolha um operador
            </div>

            <div class="mini-box box3" onclick="inputBox(6,3)">
                Clique aqui e escolha um número
            </div>

            <div class=" mini-box" id="sinalIgual">
                <!-- <h1>=</h1> -->
                <img src="../../images/numbers/operadores/igual.png" alt="">

            </div>

            <div class="mini-box resultado" id="resultado" onclick="inputBox(6,4)">
                Clique aqui e escolha o Resultado
            </div>

            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(6)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(6)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- QUESTÃO 7 -->
    <div class="question" id="Question7">
        <h1 class="titleQuestion">Questão 7</h1>
        <div class="box">
            <div class="mini-box box1" onclick="inputBox(7,1)">
                Clique aqui e escolha um número
            </div>

            <div class="mini-box operador" id="operador" onclick="inputBox(7,2)">
                Clique aqui e escolha um operador
            </div>

            <div class="mini-box box3" onclick="inputBox(7,3)">
                Clique aqui e escolha um número
            </div>

            <div class=" mini-box" id="sinalIgual">
                <!-- <h1>=</h1> -->
                <img src="../../images/numbers/operadores/igual.png" alt="">

            </div>

            <div class="mini-box resultado" id="resultado" onclick="inputBox(7,4)">
                Clique aqui e escolha o Resultado
            </div>

            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(7)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(7)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- QUESTÃO 8 -->
    <div class="question" id="Question8">
        <h1 class="titleQuestion">Questão 8</h1>
        <div class="box">
            <div class="mini-box box1" onclick="inputBox(8,1)">
                Clique aqui e escolha um número
            </div>

            <div class="mini-box operador" id="operador" onclick="inputBox(8,2)">
                Clique aqui e escolha um operador
            </div>

            <div class="mini-box box3" onclick="inputBox(8,3)">
                Clique aqui e escolha um número
            </div>

            <div class=" mini-box" id="sinalIgual">
                <!-- <h1>=</h1> -->
                <img src="../../images/numbers/operadores/igual.png" alt="">

            </div>

            <div class="mini-box resultado" id="resultado" onclick="inputBox(8,4)">
                Clique aqui e escolha o Resultado
            </div>

            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(8)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(8)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- QUESTÃO 9 -->
    <div class="question" id="Question9">
        <h1 class="titleQuestion">Questão 9</h1>
        <div class="box">
            <div class="mini-box box1" onclick="inputBox(9,1)">
                Clique aqui e escolha um número
            </div>

            <div class="mini-box operador" id="operador" onclick="inputBox(9,2)">
                Clique aqui e escolha um operador
            </div>

            <div class="mini-box box3" onclick="inputBox(9,3)">
                Clique aqui e escolha um número
            </div>

            <div class=" mini-box" id="sinalIgual">
                <!-- <h1>=</h1> -->
                <img src="../../images/numbers/operadores/igual.png" alt="">

            </div>

            <div class="mini-box resultado" id="resultado" onclick="inputBox(9,4)">
                Clique aqui e escolha o Resultado
            </div>

            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(9)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(9)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- QUESTÃO 10 -->
    <div class="question" id="Question10">
        <h1 class="titleQuestion">Questão 10</h1>
        <div class="box">
            <div class="mini-box box1" onclick="inputBox(10,1)">
                Clique aqui e escolha um número
            </div>

            <div class="mini-box operador" id="operador" onclick="inputBox(10,2)">
                Clique aqui e escolha um operador
            </div>

            <div class="mini-box box3" onclick="inputBox(10,3)">
                Clique aqui e escolha um número
            </div>

            <div class=" mini-box" id="sinalIgual">
                <!-- <h1>=</h1> -->
                <img src="../../images/numbers/operadores/igual.png" alt="">

            </div>

            <div class="mini-box resultado" id="resultado" onclick="inputBox(10,4)">
                Clique aqui e escolha o Resultado
            </div>


            <div class="mini-box" id="check">
                <img class="check" onclick="validationQuestion(10)" src="../../images/icons/check.png" alt="">
                <div class="backIcon" onclick="backQuestion(10)">
                    <img class="back" src="../../images/icons/arrowBack.svg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="window" id="window">
        <div class="images" onclick="selectedFigure(0)">
            <img class="imageTheme" src="../../images/numbers/padrao/0.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(1)">
            <img class="imageTheme" src="../../images/numbers/padrao/1.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(2)">
            <img class="imageTheme" src="../../images/numbers/padrao/2.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(3)">
            <img class="imageTheme" src="../../images/numbers/padrao/3.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(4)">
            <img class="imageTheme" src="../../images/numbers/padrao/4.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(5)">
            <img class="imageTheme" src="../../images/numbers/padrao/5.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(6)">
            <img class="imageTheme" src="../../images/numbers/padrao/6.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(7)">
            <img class="imageTheme" src="../../images/numbers/padrao/7.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(8)">
            <img class="imageTheme" src="../../images/numbers/padrao/8.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(9)">
            <img class="imageTheme" src="../../images/numbers/padrao/9.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(11)">
            <img class="imageTheme" src="../../images/numbers/operadores/11.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(12)">
            <img class="imageTheme" src="../../images/numbers/operadores/12.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(13)">
            <img class="imageTheme" src="../../images/numbers/operadores/13.png" alt="">
        </div>
        <div class="images" onclick="selectedFigure(14)">
            <img class="imageTheme" src="../../images/numbers/operadores/14.png" alt="">
        </div>
    </div> -->


    <script src="../../../Model/js/configCreateActivity.js"></script>
</body>

</html>