@import "https://fonts.googleapis.com/css?family=Oswald:300,400,700";*

{
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: Oswald, Helvetica, sans-serif;
    scroll-behavior: smooth;
    /* overflow-y: hidden; */
}

input,
button,
textarea {
  font-family: 400 18px Oswald, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

input,option, select, textarea {
    color: black;
    background-color: white;
    width: 200px;
    height: 30px;
    font-size: 14pt;
    padding-left: 20px;
    border-radius: 5px;
}

textarea {
    padding: 5px;
    width: 300px;
    height: 100px;
}

input[type=file] {
    width: 400px;
}

select {
    width: 224px !important;
}

body {
    width: 100%;
    height: 100%;
    background: url(../../images/numbers/padrao/background.jpg);
    background-repeat: repeat-y;
    background-size: 100% 100vh;
    position: relative;
    z-index: -1;
}


div.opacity {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    z-index: -1;
}

div.block {
    width: 100%;
    height: 100vh;
}

div.themes {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.themes h2 {
    margin-bottom: 30px;
}

div.themes a {
    background-color: rgb(13, 163, 13);
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    text-decoration: none;
}

div.tipos {
    display: flex;
}

div.tipos div {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16pt;
    align-items: center;
    border-radius: 10px;
    margin: 15px;
    border: 2px solid white;
    cursor: pointer;
}

.selectedTipo {
    border: 2px solid rgb(0, 250, 12) !important;
    color: rgb(0, 250, 12) !important;
}

div.tipos div img {
    width: 50px;
    height: 50px;
}

div.header {
    display: flex;
    width: 100%;
    height: 20%;
}

div.header h1 {
    width: 100%;
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    font-family: Oswald, Helvetica, sans-serif;
}


div.configuracoes {
    width: 80%;
    height: 68%;
    margin: 0 auto;
    border-radius: 10px;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16pt;
    z-index: 100;
}


div.configuracoes div {
    display: flex;
    margin-top: 10px;
}

div.configuracoes div div {
    align-items: center;
    margin-left: 10px;
    flex-direction: column;
}


div.btn-config {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div#Back {
    background-color: rgb(219, 18, 69);
    margin-right: 10px;
}

div#SaveConfigs {
    background-color: rgb(13, 163, 13);
}

/* FFF */
div.question {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
}

div.question h1.titleQuestion{
    font-size: 40px;
    margin: 10px 0;
}

div.main-box {
    display: flex;
    margin: 0 auto;
}

div.box {
    border: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    border-radius: 10px;
    padding: 10px 5px;
    margin-right: 10px;
}


div.box div.btn-calculos{
    display: flex;
    width: 220px;
    justify-content: space-between;
    margin: 10px;
}

div.box div.btn-calculos div {
    border: 5px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    width: 100px;
}

div.btn-limpar {
    background-color: red;
    transition: .2s;
    height: 40px;
}

div.btn-limpar:hover {
    background-color: rgba(255, 0, 0, 0.692);
}

div.btn-calcular {
    background-color: rgb(13, 163, 13);
    transition: .2s;
    height: 40px;
}

div.btn-calcular:hover {
    background-color: rgba(13, 163, 13, 0.644);
    transition: .5s;
}

div.boxAudio {
    border: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    border-radius: 10px;
    
    padding: 10px 5px;
}

div.box-result {
    display: none;
    margin-top: 10px;
    max-width: 90%;
    height: 100px;
    border:  2px solid whitesmoke;
    border-radius: 10px;
    padding: 5px 0;
    justify-content: center;
}

div.box-result img {
    max-width: 80px;
}

div.btn-question {
    display: flex;
    align-items: center;
    text-align: center;
}

div.btn-anterior {
    background-color: red;
    width: 170px;
    height: 40px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: .2s;
}

div.btn-anterior:hover {
    background-color: rgba(255, 0, 0, 0.644);
}

div.btn-save {
    display: none;
    background-color: rgb(13, 163, 13);
    width: 170px;
    height: 40px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: .2s;
}

div.btn-save:hover {
    background-color: rgba(13, 163, 13, 0.692);
}


div.window {
    width: 60%;
    height: 120px;
    display: none;
    bottom: 0;
    margin: 0 20%;
    position: fixed;
    background-color: whitesmoke;
    border: 5px solid black;
    border-radius: 10px 10px 0 0;
    padding: 5px;
}

div.images {
    width: 100%;
    border: 1px solid black;
    cursor: pointer;
}

div.images img {
    width: 100%;
    height: 100%;
}

img#micro {
    width: 50px;
    cursor: pointer;
    transition: .5s;
}

img#micro:hover {
    filter: opacity(90%);
}

img#micro:active {
    background: url(../../images/icons/detail.svg);
}

div#blackBlock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../../images/numbers/padrao/background.jpg);
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}

div#blackBlock h1:first-child { 
    margin-top: 100px;
}

div#blackBlock h1{
    
    color: black;
    font-size: 32pt;
}